.header {
  position: fixed;
  width: 100%;
  top: 34px;
  background-color: #252f4a;
  color: #dfe1e5;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  z-index: 999;
}

.header .header__column-title {
  font-weight: 700;
}

.header .header__column i {
  margin-left: 10px;
}
