.nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.nav .nav-list {
  background-color: #fcfcfc;
  border-top: 1px solid #f2f2f2;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
}

.nav__icons {
  color: #8c8c8c;
  font-size: 10px;
  padding: 20px;
  display: flex;
}

.nav__icons i {
  font-size: 24px;
  margin-bottom: 5px;
}
